<section class="login">
        <h2>Login Form</h2>
        <div class="login-container container">
            <form action="/login" method="post" id="logform">
               <input type="email" placeholder="Email" name="email" id="logemail">
               <input type="password" placeholder="Password" name="password" id="logpassword">
               <div class="buttons">
                <button class=" btn"><a href="registration">Create New Account</a></button>
               <button type="submit" class="register btn" value="submit" id="loginPage">Login</button>
               </div>
            </form>
        </div>
    </section>