<header>
  <nav class="navbar container">
    <input type="checkbox" class="check" />
    <div class="span-div">
      <span class="item-1 spn"></span>
      <span class="item-2 spn"></span>
      <span class="item-3 spn"></span>
    </div>
    <h2 class="heading"><a href="/">Heading Bar</a></h2>
    <ul class="item-list">
      <li class="item"><a class="home itema" href="/">Home</a></li>
      <li class="item"><a class="home itema" href="page1">Page1</a></li>
      <li class="item"><a class="home itema" href="page2">Page2</a></li>
      <li class="item"><a class="home itema" href="page3">Page3</a></li>
      <li class="item"><a class="about itema" href="login">Login</a></li>
      <li class="item"><a class="about itema" id="logout" href="logout">Login Out</a></li>
      <li class="item"><a class="contact itema" href="registration">Registration</a></li>
    </ul>
  </nav>
</header>