<html lang="en">
  <head>
  {{>metaData}}
    <title>Home || {{>MernBackend}}</title>
  </head>
  <body>
        {{>navbar}}
        {{>header}}
        {{>about}}
       {{>footer}}
  </body>
</html>